<div class="container-fluid">
  <div class="d-flex justify-content-around flex-wrap">
    <div class="col-md-5 my-5">
      <img src="/assets/image/Final_logo.jpg" width="225">
    </div>
    <div class="col-md-5 my-5">
      <img src="/assets/image/email.png">
      <p>careers@devflovv.com| careers@devflovv.com | -3-21447803</p>
    </div>


  </div>
  <div class="d-flex justify-content-around flex-wrap">
    <div class="col-md-3">
    <img src="/assets/image/canada.png">
    <h6>331 Measure Cres Milton,ON L9T7Y7, Canada <br>+1-613-981-9908<br>+1-613-292-8601</h6>

    </div>
    <div class="col-md-3">
      <img src="/assets/image/pakistan.png">
    <h6>605, Block H3, Oppositeto Expo Center Gate<br>No 1, Johar Town Lahore<br>+92-317-77-111-71</h6>
    </div>
    <div class="col-md-3 justify-content-around flex-wrap">
      <h4>Newsletter</h4>
      <div class="bbb-wrapper fl-wrap">
        <div class="subcribe-form fl-wrap">
            <form id="subscribe" novalidate="true"> <input class="enteremail" name="EMAIL" id="subscribe-email" placeholder="Your Email" spellcheck="true" type="text"> <button type="submit" id="subscribe-button" class="subscribe-button color-bg"><i class="fa-brands fa-telegram"></i></button><label for="subscribe-email" class="subscribe-message"></label> </form>
        </div>
    </div>
    <div class="my-5 d-flex justify-content-around flex-wrap">
      <img src="/assets/image/whatsapp.png">

<!-- Twitter -->
<img src="/assets/image/twitter (1).png">


<!-- Google -->
<img src="/assets/image/instagram (2).png">


<!-- Instagram -->
<img src="/assets/image/facebook.png">


<!-- Linkedin -->
<img src="/assets/image/github (1).png">


<!-- Pinterest -->
<img src="/assets/image/linkdin (2).png">

</div>
    </div>
  </div>
</div>
  <div class="container-fluid balance d-flex justify-content-around flex-wrap">
    <div class="col-md-7 my-4">
      <h6>&#169; 2022 All Rights Reserved By DEVFLOVV</h6>
    </div>
    <nav class=" col-md-5 navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link active  my-2" aria-current="page" >About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  my-2" >Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  my-2" >Industries</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active my-2">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active my-2">Sitemap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active my-2">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active my-2">Terms & Conditions</a>
        </li>
        </ul>
      </div>
    </nav>
  </div>
