<div class="container-fluid">
  <div class="d-flex justify-content-around flex-wrap">
    <div class="col-md-5 my-5">
      <img src="/assets/image/Final_logo.jpg" width="225">
    </div>
    <div class="col-md-5 my-5">
      <img src="/assets/image/email.png">
      <p>careers@devflovv.com| careers@devflovv.com | -3-21447803</p>
    </div>


  </div>
  <div class="d-flex justify-content-around flex-wrap">
    <div class="col-md-3">
    <img src="/assets/image/canada.png">
    <h6>220 Duncan Mill road, Toronto, Ortario M3B 3J5 <br>+1(647)548-7866</h6>

    </div>
    <div class="col-md-3">
      <img src="/assets/image/pakistan.png">
    <h6>605, Block H3, Oppositeto Expo Center Gate<br>No 1, Johar Town Lahore<br>+92-317-77-111-71</h6>
    </div>
    <div class="col-md-3">
      <h4>Newsletter</h4>
      <input class="form-control" type="text" placeholder="Your Email" aria-label="/assets/image/block-chain (1).png">
    </div>
  </div>


  <div class="d-flex justify-content-around flex-wrap">
    <div class="col-md-9">
      <h1>logo</h1>
    </div>
    <div>
      <h1>email</h1>
    </div>
  </div>
</div>
