<p>service works!</p>
<div class="col-md-6 flex justify-content-around pointer-cursor mx-2">
  <div>
    <img src="/assets/image/teamwork.png" class="icons">
    </div>
    <div>
      <h6><span>Dedicated</span> Development Team</h6>
      <p>Our team of developers is highly qualified and dedicated to<br> delivering quality development services to clients.</p>
    </div>
</div>

<div>
<img src="/assets/image/business-crew (1).png" class="icons">
</div>
<div >
  Product Development
<p>Our staff augmentation model is intended to help companies find the right skills for their project.</p>
</div>
<div>
<img src="/assets/image/office-colleagues (1).png" class="icons">
</div>
<div >
  <img src="/assets/image/office-colleagues (1).png" class="icons">
<p>The project-based model is designed to help you get your<br> expert software engineering consultants.</p>
</div>
