span{
  color: #0085FF;
}
.forget{
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  text-align: center;
}
.slider-image{
  width:1400px;
  height:600px;
}

.time{

  background-image: url(/assets/image/Untitled-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#container{
  width:84.25rem;
  margin: 0 auto;
  height:25rem;
  background-image: url('/assets/image/aaaa.png');
}
.col1{
  width:500px;
  margin-top: 3rem;
  float:left;
  margin-right: 2.75rem;
  margin-left: 6rem;
}

.col2{
  width:650px;
  float:left;
  margin-top: 3rem;
  padding-left: 1rem;

}
.products-container{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition:all 2s linear;
}
.container{
  max-width: 800px;
  padding: 2rm 1rm;

}
.container .products-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem,1fr));
  gap:1rem;
}
.center{
  padding:1rem;
  margin-left: 2.50rem;
  margin-top: 1rem;
}
.center2{
  padding:1rem;
}
.container .products-container .product{
background-color: #f2f9f9;
box-shadow: 0.5rem,1rem;
padding: 3rem,2rem;
border-radius: .75rem;
}
.container .products-container .product:hover {
  background-color:#3b4c61;
  color: #f2f9f9;
  transform: scale(.9);
}
.design{
  text-align: center;
  margin-bottom: 1.75rem;
}
.h3-2{
text-align: center;
margin-top: 4.5rem;
}
.carousel-imagetext{
  list-style: none;
  display:flex;
  margin-left: 21rem;
}
li{
  padding: 1rem;
}
li:hover{
  color:#0273fd;
}
a{
  color:#3b4c61;
}
hr.solid {
  color:#0000CD;
  border: 1px solid;
  width:95%;
  margin-left: 2rem;
}
.carousel-text{
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
}

.db {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}

.col {
  display: table-cell; /* Make elements inside the container behave like table cells */
}
