<!--this is first banner start-->
<div>
  <img src="/assets/image/b-02.jpg" width="100%">
</div>
<!--this is first banner ending-->


<!--this is second section start-->
<div class="full">
<div class="d-flex justify-content-around">
  <div class="my-5">
  <h5>Open <span>Vacancies</span></h5>
  </div>
  <form class="col-md-3 my-5">
    <select class="form-control select2">
       <option>Pakistan</option>
       <option>Canada</option>
       <option>India</option>
       <option>China</option>

    </select>
</form>
    </div>
    <div class="scrollable m-5">
<div class="container d-flex justify-content-around">
<div class="col-md-2">
  <h6>Open Position</h6>
  <p><span>PPC Speciallist</span><br>Full Time</p>
  </div>


  <div class="col-md-7">
  <h6>Description</h6>
 <p>We are seeking a MEAN/MERN Stack Developer to design the app architecture, ensure app quality & responsiveness, and implement measures to secure app data. You will also collaborate with the development team to develop & integrate new features in the apps.</p>

</div>

<div class="col-md-2">
  <h6>Location</h6>
  <h6>Pakistan</h6>
  </div>

  <div class="col-md-1">
  <h6>State</h6>
  <button class="btn btn-primary">Open</button>

</div>
</div>
<hr class="container solid" >
<div class="container d-flex justify-content-around">
  <div class="col-md-2">
    <h6>Open Position</h6>
    <p><span>PPC Speciallist</span><br>Full Time</p>
    </div>


    <div class="col-md-7">
    <h6>Description</h6>
   <p>We are seeking a MEAN/MERN Stack Developer to design the app architecture, ensure app quality & responsiveness, and implement measures to secure app data. You will also collaborate with the development team to develop & integrate new features in the apps.</p>

  </div>

  <div class="col-md-2">
    <h6>Location</h6>
    <h6>Pakistan</h6>
    </div>

    <div class="col-md-1">
    <h6>State</h6>
    <button class="btn btn-primary">Open</button>

  </div>
  </div>
  <hr class="container solid" >
  <div class="container d-flex justify-content-around">
    <div class="col-md-2">
      <h6>Open Position</h6>
      <p><span>PPC Speciallist</span><br>Full Time</p>
      </div>


      <div class="col-md-7">
      <h6>Description</h6>
     <p>We are seeking a MEAN/MERN Stack Developer to design the app architecture, ensure app quality & responsiveness, and implement measures to secure app data. You will also collaborate with the development team to develop & integrate new features in the apps.</p>

    </div>

    <div class="col-md-2">
      <h6>Location</h6>
      <h6>Pakistan</h6>
      </div>

      <div class="col-md-1">
      <h6>State</h6>
      <button class="btn btn-primary">Open</button>

    </div>
    </div>
    <hr class="container solid" >
    <div class="container d-flex justify-content-around">
      <div class="col-md-2">
        <h6>Open Position</h6>
        <p><span>PPC Speciallist</span><br>Full Time</p>
        </div>


        <div class="col-md-7">
        <h6>Description</h6>
       <p>We are seeking a MEAN/MERN Stack Developer to design the app architecture, ensure app quality & responsiveness, and implement measures to secure app data. You will also collaborate with the development team to develop & integrate new features in the apps.</p>

      </div>

      <div class="col-md-2">
        <h6>Location</h6>
        <h6>Pakistan</h6>
        </div>

        <div class="col-md-1">
        <h6>State</h6>
        <button class="btn btn-primary">Open</button>
      </div>
      </div>
      <hr class="container solid" >
      <div class="container d-flex justify-content-around">
        <div class="col-md-2">
          <h6>Open Position</h6>
          <p><span>PPC Speciallist</span><br>Full Time</p>
          </div>


          <div class="col-md-7">
          <h6>Description</h6>
         <p>We are seeking a MEAN/MERN Stack Developer to design the app architecture, ensure app quality & responsiveness, and implement measures to secure app data. You will also collaborate with the development team to develop & integrate new features in the apps.</p>

        </div>

        <div class="col-md-2">
          <h6>Location</h6>
          <h6>Pakistan</h6>
          </div>

          <div class="col-md-1">
          <h6>State</h6>
          <button class="btn btn-primary">Open</button>
        </div>
        </div>
        <hr class="container solid" >
    </div>
    <div class="flex-wrap text-center p-5">
      <h6>You can also send your resume to <span>www.devflovv.com</span></h6>
    </div>
  </div>
<!--this is second section end-->

<!--this is third section start-->
<div class="flex-wrap text-center my-5">
  <h3>Perks and <span>Benefits</span></h3>
  <p>InvoZone cares about the financial and emotional well-being of its employees. While working <br>with InvoZone, you get the following perks and benefits:</p>
</div>
<!--this is third section end-->
<!--this is cards section start-->
<div class="container">
  <div class="row">
    <div class="column">
      <div class="card flex-wrap justify-content-center">
        <img src="/assets/image/block-chain (1).png" class="imgs" width="60px">
        <h6>Paid Leave</h6>
        <p>Enjoy vacations, fulfill personal responsibilities, or just take some rest by availing paid leaves.</p>
      </div>
    </div>
    <div class="column">
      <div class="card">..</div>
    </div>
    <div class="column">
      <div class="card">..</div>
    </div>
    <div class="column">
      <div class="card">..</div>
    </div>
  </div>
</div>
<!--this is cards section end-->
